/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #977560;
  --f7-theme-color-rgb: 151, 117, 96;
  --f7-theme-color-shade: #7e6250;
  --f7-theme-color-tint: #a98a77;
}

/* Your app custom styles here */

.make-capital {
  text-transform: capitalize;
}

.make-center {
  margin: auto;
}

body {
  max-width: 2000px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #977560;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
